#!/usr/bin/env python
# -*- coding:utf-8 -*-

'''
敏感信息配置,不对外公开,例如邮箱授权码,股票信息
'''

configs = {
    # 第三方客户端发送邮件的授权码
    'mailAuth':'xxxxxx',    
    'stocks':[
        {
            'symbol':'CTRP',
            'buyPrice':41.28,
            'count':17,
            'date':'2016-12-15',
            'email':'nonprivatemail@163.com'
        },
    ]
}
